@function px2rem($px) {
    $rem: 37.5px;
    @return ($px / $rem)+rem;
}







body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

td, th, caption {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  color: #555;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

img {
  border: none; }

ol, ul, li {
  list-style: none; }

input, textarea, select, button {
  font: 14px Verdana,Helvetica,Arial,sans-serif; }

table {
  border-collapse: collapse; }

html {
  overflow-y: scroll; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }













.top span.zx {
    font-size: 0.37333rem;
}

.top b {
    width: 32%;
    font-size: px2rem(14px);
    color: #555;
}

header .logo .city .menu a {
    font-size: 0.53333rem;
}
header .logo .city{
  line-height: 3px;
}

.banner-oct {
    text-align: center;
}

.banner-oct img {
    width: 10rem;
    height: 4.82667rem;
}
.zzdx-tent1 {
    font-size: 0.37333rem !important;
}











.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.clear{
  clear: both;
}

.fr{
  float: right;
}
.fl{
  float: left;
}


.ph a{
  font-size: px2rem(16px);
}


.cloud-bg {
  background-color: #ededed;
}

/* 公共样式 开始*/


.header-six {
    width: 100%;
    height: px2rem(60px);
    line-height: px2rem(60px);
    .header-logo-six {
        height: px2rem(33px);
        line-height: px2rem(33px);
        width: px2rem(60px);
        float: left;
        margin-top: px2rem(14px);
        margin-left: px2rem(10px);
        margin-right: px2rem(5px);
    }
    .header-p-six {
        color: #183e6a;
        font-size: px2rem(12px);
    }
}

.banner-six {
    .banner-img-six {
        display: block;
        height: px2rem(100px);
        width: 100%;
    }
}

.banner-six {
    .banner-cloud-six {
        display: block;
        height: px2rem(140px);
        width: 100%;
    }
}


.show {
    display: block;
}

.hide {
    display: none;
}






.public-bl {
    position: fixed;
    top: 50%;
    right: 0px;
    width: px2rem(35px);
    height: px2rem(75px);
    margin-top: px2rem(-37.5px);
    background: -webkit-linear-gradient(top, #ff7f62, #ff6340);
    background: -o-linear-gradient(top, #ff7f62, #ff6340);
    background: -moz-linear-gradient(top, #ff7f62, #ff6340);
    background: linear-gradient(top, #ff7f62, #ff6340);
    text-align: center;
    z-index: 999;
    p {
        font-size: px2rem(12px);
        color: #ffffff;
        &:nth-child(1) {
            margin-top: px2rem(4px);
        }
    }
}










































/* 公共样式 结束*/





.nine-cpjj-des {
  margin-top: px2rem(10px);

  p{
    width: 95%;
    margin: 0 auto;
    color: #666666;
    font-size: px2rem(14px);
    text-align: justify;
  }
}



.one-cpjj-des {
  width: 100%;
margin: 0 auto;
box-sizing: border-box;
padding-left: 0.26667rem;
padding-right: 0.26667rem;
padding-bottom: px2rem(10px);
padding-top: 0.02667rem;
text-align: center;
background-color: #fff;
margin-top: px2rem(-2px);

  p{
    font-size: 0.37333rem;
    color: #666666;
    text-align: justify;
    line-height: px2rem(20px);
  }
}




// 其他

.hot_top .hot_top2 p {
    font-size:px2rem(18px);
}

.hot_top .hot_top2 a.back {
    font-size: px2rem(18px);
}

.hot_top .hot_top1 p {
    font-size: px2rem(16px);
}

.hot_top .hot_top1 p {
    font-size: px2rem(16px);
}


// 新增

.gg-oct-h5 {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 0.42667rem;
  color: #222222;
  font-weight: bold;
  position: relative;
  margin-top: 0.26667rem;
  margin-bottom: 0.26667rem;
  text-align: center; }

.cpjj-oct {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
  padding-bottom: 0.4rem;
  padding-top: 0.02667rem;
  text-align: center;
  background-color: #fff;
  margin-top: px2rem(-2px); }
  .cpjj-oct p {
    font-size: px2rem(13px);
    color: #666666;
    text-align: justify;
    line-height: px2rem(20px);


   }

   .cpjj-oct p:nth-child(3){
     // margin-top: px2rem(-10px);
   }

   .mt8-oct-dec{
     margin-top: px2rem(10px)!important;
   }


    .hope-a-oct {
        display: inline-block;
        width: 4.05333rem;
        height: 0.66667rem;
        line-height: 0.66667rem;
        text-align: center;
        background-color: #52b5ea;
        color: #ffffff;
        font-size: 0.34667rem;
        border-radius: 0.16rem;
        box-shadow: 0.05333rem 0.05333rem 0.26667rem 0px #d8d7d7;
    }

    .mt8-oct {
    margin-top: px2rem(20px);
    text-align: center;
}



.cpgc-oct {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
  padding-top: 0.26667rem;
  background-color: #ededed; }
  .cpgc-oct ul li {
    display: flex;
    position: relative;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
    .cpgc-oct ul li:after {
      display: inline-block;
      content: " ";
      height: 0px;
      width: 100%;
      border-bottom: 1px dashed #fff;
      position: absolute;
      bottom: 0rem;
      left: 0rem; }
    .cpgc-oct ul li:last-child:after {
      display: none; }
    .cpgc-oct ul li .cpgc-div-oct {
      box-sizing: border-box;
      padding-left: 0.4rem; }
    .cpgc-oct ul li img {
      display: inline-block;
      width: 1.49333rem;
      height: 1.49333rem; }
    .cpgc-oct ul li h3 {
      font-size: 0.42667rem;
      color: #222222;
      text-align: justify;
      font-weight: bold; }
    .cpgc-oct ul li p {
      font-size: 0.37333rem;
      color: #777777;
      text-align: justify;
      margin-top: 0.16rem; }

      .cp-mtb-oct {
    text-align: center;
    padding-top: 0.21333rem;
    padding-bottom: px2rem(30px);
}

.uin-sq-dec{
  width: 100%;
margin: 0 auto;
box-sizing: border-box;
// padding-left: 0.26667rem;
// padding-right: 0.26667rem;
padding-bottom: 0.4rem;
padding-top: 0.02667rem;
text-align: center;
background-color: #fff;

}

.cp-mtb-dec{
  padding-top: px2rem(20px)!important;
    padding-bottom: px2rem(10px)!important;
}


.uin-blys-dec{
  width: 100%;
margin: 0 auto;
box-sizing: border-box;
padding-top: 0.26667rem;
background-color: #ededed;
}


.mt-dec1{
  padding-top: px2rem(50px)!important;
}



.uin-al-dec{
  width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0.26667rem;
    background-color: #ededed;
    // padding-bottom: px2rem(40px);
}

.container1 .dianji p {
    font-size: 0.48rem;
}


a:hover{
  color: #fff;
}


.onenum-ts{
  width: 100%;
margin: 0 auto;
box-sizing: border-box;
padding-bottom: 0.8rem;
padding-top: 0.02667rem;
text-align: center;
background-color: #fff;

}

.mt-10{
  margin-top: px2rem(3px);
}

.onenum-kh{
  width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: px2rem(70px);
    padding-top: 0.02667rem;
    text-align: center;
    background-color: #fff;
}


.one-kh-dec{
  width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: px2rem(20px);
    padding-top: 0.02667rem;
    text-align: center;
    background-color: #ededed;
}



body{
  width: 100%;
min-width: 100%;
max-width: 100%;
margin: 0 auto;

}





// 新增结束






/* 1010号码 开始 */

.banner-six {
    .banner-nine-six {
        display: block;
        height: px2rem(130px);
        width: 100%;
    }
}

.onenum-txt {
    position: relative;
    top: px2rem(-32px);
    left: 0px;
    right: 0px;
    margin: 0 auto; // width: 95%;
    width: px2rem(355px);
    height: px2rem(102px);
    border-radius: px2rem(10px);
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: px2rem(9px);
    padding-right: px2rem(9px);
    box-shadow: 0px 2px 10px 0px #d6d6d6;
    p {
        color: #666666;
        font-size: px2rem(14px);
        text-align: justify;
        padding-top: px2rem(12px);
        span {
            color: #222222;
            font-size: px2rem(14px);
            font-weight: bold;
        }
    }
}
.onenum-jx {
  width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0.26667rem;
    background-color: #ededed;
    padding-bottom: px2rem(30px);
}
.onenum-jx-ul{
    margin-top: px2rem(10px);
    // box-sizing:border-box;
    // padding-left: px2rem(9px);
    // padding-right: px2rem(9px);
    width: 95%;
    margin: 0 auto;
    // border-radius: px2rem(10px);
    margin-top: px2rem(10px);
    ul {
        li {
            float: left;
            background-color: #ffffff;
            text-align: center;
            border: 1px solid #eaeaea;
            width: 33%;
            height: px2rem(61px);
            line-height: px2rem(24px);
            &:nth-child(1){
                border-right: none;
                border-left: none;
                border-top: none;
            }
            &:nth-child(2){
                border-top: none;
            }
            &:nth-child(3){
                border-left: none;
                border-top: none;
                border-right: none;
            }
             &:nth-child(4){
               border-left: none;
                border-top: none;
                border-bottom: none;
            }
            &:nth-child(5){
                border-right: none;
                border-left: none;
                border-top: none;
                border-bottom: none;
            }
            &:nth-child(6){
                border-top: none;
                border-bottom: none;
                border-right: none;
            }
            &:nth-child(8){
                border-right: none;
                border-left: none;
                border-bottom: none;
            }
            &:nth-child(7){
              border-left: none;
              border-bottom: none;
            }
            &:nth-child(9){
              border-right: none;
              border-bottom: none;
            }
            p{
                color: #222222;
                font-size: px2rem(16px);
                font-weight: bold;
                font-family: "Arial";
                margin-top: px2rem(6px);
            }
            a{
                color: #52b5ea;
                font-size: px2rem(14px);
            }
        }
    }
}

.onenum-fw-text{
    text-align: center;
    margin-top: px2rem(25px);
    margin-bottom: px2rem(15px);
    a{
        color: #dc3f6a;
        font-size: px2rem(14px);
    }
}


.onenum-ts-ul {
    box-sizing:border-box;
    padding-left: px2rem(9px);
    padding-right: px2rem(9px);
    ul {
        margin-top: px2rem(10px);
        li {
            float: left;
            width: px2rem(175.6px);
            height: px2rem(90px);
            background-color: #b2d2fa;
            margin-top: px2rem(5px);
            border-radius: 0.26667rem;
            div{
                float: left;
                width: px2rem(78px);
                height: px2rem(90px);
                img {
                    width: 100%;
                    margin-top: px2rem(10px);
                }
            }
            &:nth-child(2){
                margin-left: px2rem(5px);
            }
            &:nth-child(4){
                margin-left: px2rem(5px);
            }
            h5 {
                color: #fff;
                font-size: px2rem(14px);
                font-weight: bold;
                margin-top: px2rem(15px);
                text-align: left;
            }
            p {
                color: #fff;
                font-size: px2rem(10px);
                margin-top: px2rem(4px);
                padding-right: px2rem(4px);
                text-align: justify;
                line-height: px2rem(18px);
            }
        }
    }
}


.onenum-kh-ul {
    width: px2rem(355px);
    height: px2rem(175px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: px2rem(-10px);
    margin-bottom: px2rem(10px);
    ul {
        li {
            float: left;
            text-align: center;
            width: 25%;
            margin-top: px2rem(18px);
            img {
                width: px2rem(63px);
                height: px2rem(39px);
            }
            p {
                color: #222222;
                font-size: px2rem(14px);
                font-weight: bold;
                font-family: "Arial";
                margin-top: px2rem(5px);
            }
        }
    }
}


.one-bllc-dec{
  background-color: #fff;
  padding-bottom: px2rem(20px);
  width: 100%;
  margin: 0 auto;
}

.onenum-zz-ul {
    ul {
        li {
          width: 95%;
            text-align: center;
             margin: 0 auto;
            background-color: #ffffff;
            border-radius: 10px;
            margin-top: px2rem(10px);
            padding-bottom: px2rem(20px);
            &:nth-child(1){
                // width: px2rem(355px);
                height: px2rem(145px);
                margin-top: px2rem(15px);
                // margin-bottom: px2rem(20px);
                p {
                    text-align: justify;
                    color: #666666;
                    font-size: px2rem(14px);
                    box-sizing:border-box;
                    padding-left: px2rem(27px);
                    &:nth-child(2) {
                        margin-top: px2rem(8px);
                    }
                    &:last-child {
                        margin-top: px2rem(6px);
                    }
                }
            }
            &:nth-child(2){
                // width: px2rem(355px);
                height: px2rem(107px);
                 p {
                    text-align: justify;
                    color: #666666;
                    font-size: px2rem(14px);
                    box-sizing:border-box;
                    padding-left: px2rem(27px);
                    padding-right: px2rem(27px);
                    margin-top: px2rem(14px);
                }
            }
             &:nth-child(3){
                // width: px2rem(355px);
                height: px2rem(124px);
                 p {
                    text-align: justify;
                    color: #666666;
                    font-size: px2rem(14px);
                    box-sizing:border-box;
                    padding-left: px2rem(27px);
                    padding-right: px2rem(27px);
                    margin-top: px2rem(12px);
                }
            }
        }
    }
}


.onenum-bl-ul {
    width: px2rem(355px);
    height: px2rem(225px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: px2rem(10px);
    margin-bottom: px2rem(20px);
    position: relative;
    text-align: center;
    img {
        width: px2rem(173px);
        height: px2rem(160px);
        margin-top: px2rem(20px);
        margin-bottom: px2rem(10px);
    }
    ul {
        li {
            position: absolute;
            width: px2rem(90px);

            h5{
                color: #222222;
                font-size: px2rem(14px);
                font-weight: bold;
            }
            p {
                color: #666666;
                font-size: px2rem(12px);
                margin-top: px2rem(2px);
                line-height: px2rem(16px);
            }
            &:nth-child(1){
                top:px2rem(32px);
                left: px2rem(0px);
                text-align: right;
            }
            &:nth-child(2){
                bottom:px2rem(62px);
                left: px2rem(0px);
                text-align: right;
            }
            &:nth-child(3){
                top:px2rem(70px);
                right: px2rem(0px);
                text-align: left;
            }
            &:nth-child(4){
                bottom:px2rem(24px);
                right: px2rem(0px);
                text-align: left;
            }
        }
    }
}
.pt15{
  padding-top: px2rem(15px);
}
.pt25{
  padding-top: px2rem(25px);
}
/* 1010号码 结束*/
.nine-ys-dec{
  margin-top: px2rem(20px);
  background-color: #f6f6f6;
  padding-bottom: px2rem(18px);
}

/* 95号码  开始 */
.ninenum-mt-35{
    margin-top: px2rem(-35px);
}
.banner-six {
    .banner-ninefive-six {
        display: block;
        height: px2rem(100px);
        width: 100%;
    }
}

.ninenum-txt {
    position: relative;
    top: px2rem(-60px);
    left: 0px;
    right: 0px;
    margin: 0 auto; // width: 95%;
    width: px2rem(355px);
    height: px2rem(102px);
    border-radius: px2rem(10px);
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: px2rem(9px);
    padding-right: px2rem(9px);
    box-shadow: 0px 2px 10px 0px #d6d6d6;
    p {
        color: #666666;
        font-size: px2rem(14px);
        text-align: justify;
        padding-top: px2rem(12px);
        span {
            color: #222222;
            font-size: px2rem(14px);
            font-weight: bold;
        }
    }
}



.ninenum-ts {
    text-align: center;
    width: px2rem(355px);
    height: px2rem(180px);
    background-color: #f6f6f6;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: px2rem(-10px);
    margin-bottom: px2rem(20px);
    img {
        width: px2rem(360px);
        height: px2rem(145px);
        text-align: center;
        margin-top: px2rem(18px);
    }
    .onenum-fw-text {
        margin-top: px2rem(10px);
    }
}


.ninenum-sq {
    text-align: center;
    width: 100%;
    // width: px2rem(355px);
    height: px2rem(125px);
    line-height: px2rem(145px);
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: px2rem(10px);
    margin-bottom: px2rem(10px);
    ul {
        li {
            float: left;
            width: px2rem(112px);
            // width: 31%;
            height: px2rem(112px);
            line-height: px2rem(142px);
            margin-top: px2rem(6px);
            &:nth-child(1){
                margin-left: px2rem(16px);
            }
            img {
                width: 100%;
                // width: px2rem(110px);
                // height: px2rem(142px);
            }
        }
    }

}

.ninenum-sq-one {
  width: 95%;
    // width: px2rem(355px);
    height: px2rem(190px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: px2rem(24px);
    padding-bottom: px2rem(35px);
    p {
        color: #666666;
        font-size: px2rem(12px);
        text-align: justify;
        box-sizing:border-box;
        padding-right: px2rem(30px);
        padding-left: px2rem(15px);
        line-height: px2rem(18px);
        &:nth-child(2){
            margin-top: px2rem(8px);
        }
    }
    // a {
    //     color: #dc3f6a;
    //     font-size: px2rem(14px);
    //     display: inline-block;
    //     margin-top: px2rem(12px);
    // }
}
.ninenum-sq-two {
  width: 95%;
    // width: px2rem(355px);
    height: px2rem(210px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: px2rem(10px);
    margin-bottom: px2rem(20px);
    padding-bottom: px2rem(15px);
    p {
        color: #666666;
        font-size: px2rem(12px);
        text-align: justify;
        box-sizing:border-box;
        padding-right: px2rem(30px);
        padding-left: px2rem(15px);
        line-height: px2rem(18px);
        &:nth-child(2){
            margin-top: px2rem(8px);
            color: #222222;
            font-size: px2rem(14px);
        }
    }
    // a {
    //     color: #dc3f6a;
    //     font-size: px2rem(14px);
    //     display: inline-block;
    //     margin-top: px2rem(12px);
    // }
}


// p{
//   line-height: px2rem(18px);
// }

.nineone-h5{
    width: px2rem(135px);
    height: px2rem(40px);
    line-height: px2rem(50px);
    background: url(../images/ninenum-sq-bg-dec.png) no-repeat;
    background-size: 100%;
    color: #ffffff;
    font-size: px2rem(14px);
    font-weight: bold;
    background-position: px2rem(0px) px2rem(10px);
}


.ninenum-bl {
    width: 95%;
    margin: 0 auto;
    ul {
        // margin-top: px2rem(10px);
        li {

            float: left;
            width: px2rem(175px);
            height: px2rem(90px);
            // line-height: px2rem(90px);
            border-radius: 10px;
            background-color: #ededed;
            margin-top: px2rem(15px);
            text-align: center;
            &:nth-child(even){
                margin-left: px2rem(5px);
            }
            img {
                width: px2rem(35px);
                height: px2rem(35px);
                margin-top: px2rem(25px);
                margin-left: px2rem(10px);
                float: left;
            }
            div {
                float: right;
                width: px2rem(130px);
                box-sizing:border-box;
                padding-left: px2rem(8px);
                padding-right: px2rem(8px);
            }
            h5 {
                font-size: px2rem(14px);
                color: #222222;
                font-weight: bold;
                text-align: left;
                margin-top: px2rem(10px);
                margin-bottom: px2rem(5px);
            }
            p {
                font-size: px2rem(12px);
                color: #666666;
                text-align: justify;
                line-height: 16px;
            }
        }
    }
}

.nine-bllc-dec{
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  // margin-top: px2rem(30px);
  padding-bottom: px2rem(25px);
}

.mpt25{
  padding-top: px2rem(20px);
  margin-top: px2rem(0px)!important;
}



.ninenum-lc-ul {
    position: relative;
    width: px2rem(355px);
    height: px2rem(238px);
    // line-height: px2rem(258px);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: px2rem(10px);
    margin-bottom: px2rem(20px);
    img {
        width: 100%;
        margin-top: px2rem(55px);
    }
    .onenum-fw-text {
        margin-top: px2rem(50px);
    }
    ul {
        li {
            position: absolute;
            color: #666666;
            font-size: px2rem(12px);
            text-align: center;
            line-height: px2rem(16px);
            &:nth-child(1){
                top:px2rem(15px);
                left: px2rem(5px);
            }
            &:nth-child(2){
                top:px2rem(15px);
                left: px2rem(18px);
                right: px2rem(0px);
                margin: 0 auto;
            }
            &:nth-child(3){
                top:px2rem(15px);
                right: px2rem(8px);
            }
            &:nth-child(4){
                bottom:px2rem(20px);
                left: px2rem(10px);
            }
            &:nth-child(5){
                bottom:px2rem(20px);
                right: px2rem(70px);
            }
        }
    }
}

.mt0 {
    margin-top: px2rem(0px);
}
.ninenum-al {
    width: px2rem(355px);
    height: px2rem(257px);
    margin: 0 auto;
    background-color: #ededed;
    border-radius: 10px;
    margin-top: px2rem(-10px);
    // margin-bottom: px2rem(20px);
    ul {
        li {
            float: left;
            text-align: center;
            width: 25%;
            margin-top: px2rem(20px);
            img {
                width: px2rem(55px);
                height: px2rem(55px);
            }
            h5 {
                color: #111111;
                font-size: px2rem(14px);
            }
            p {
                color: #666666;
                font-size: px2rem(12px);
            }
        }
    }
}



/* 95号码  结束 */


.nineone-nav{
    font-weight: bold;
}


/* 兼容 */

@media screen and(min-width:1020px){
  .ninenum-bl ul li p{
    line-height: 40px;
  }
  .ninenum-lc-ul ul li{
    line-height: 36px;
  }
  .ninenum-al ul li h5{
    margin: 15px 0px;
  }
  .footer .p2{
    line-height: 50px;
    margin: 10px 0px;
  }
  .ph a{
    font-size: 16px;
  }
  .footer-fix{
    // left: 0;
    // height: 100px;
    max-width: 1024px!important;
    min-width: 320px;
    margin: 0 auto;
  }
}

@media screen and(min-width:319px) and (max-width:321px)
{
  .onenum-jx-ul ul li{
    width: 33%;
  }
    .ninenum-sq-one a{
        margin-top: px2rem(2px);
    }
    .ninenum-sq-two a {
        margin-top: px2rem(2px);
    }
    .ninenum-lc-ul ul li:nth-child(4) {
        left:px2rem(-5px);
    }
    .ninenum-lc-ul ul li:nth-child(5) {
        right:px2rem(50px);
    }

    .onenum-ts-ul ul li h5{
        margin-top: px2rem(5px);
    }
    .onenum-bl-ul ul li p{
        margin-top: px2rem(0px);
    }

    .top b{
      font-size: px2rem(12px);
    }
}



.cloud-cp{
    margin-top: px2rem(-10px);
}


.head{
    height: px2rem(50px);
    position: relative;
    background-color: #ffffff;
}

.head_left{
    position: absolute;
    top: px2rem(8px);
    left: px2rem(15px);
}
.head_left img{
    width: 50%;
}

.head_right{
    position: absolute;
    top: px2rem(12px);
    right: 0px;
}
.head_right img{
    width: 12%;
    vertical-align: middle;
}
.head_right span{
    vertical-align: middle;
    font-size: px2rem(16px);
    color: #333333;
}


.footer {
  max-width: 100%; }

.footer-fix {
  max-width: 100%; }
  .f1 a {
    font-size: px2rem(16px); }



.footer .p1 {
  font-size: px2rem(16px); }

.footer .p2 {
  font-size: px2rem(14px); }
